{{#if store.columns}}
    <table id="inventory-table" class="table-container {{#if edit}}popup-table{{/if}}">
        <thead>
            <tr>
                {{#each store.columns}}
                    <th class="custom-column" data-value="{{this}}">{{this}}</th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{#each store.inventory}}
                <tr data-id="{{this.[0]}}">
                    {{tableHandler this.[1] ../store.columns}}
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <div id="empty-inventory-wrapper">
        <div><i class="fas fa-database"></i></div>
        <p>Uh oh! There's nothing to see here!</p>
    </div>
{{/if}}
