<div class="popup" id="received-wrapper" data-id="{{store.id}}">

    <div id="received-container">
        <div id="choose-step">
            <div class="header-wrapper">
                <h4>RECEIVED</h4>
                <button id="exit-button">
                    <div><i class="far fa-times-circle"></i></div>
                    <div>esc</div>
                </button>
            </div>

            <p>Choose an item that was received.</p>

            <div id="popup-inventory-wrapper">
                <table id="inventory-table" class="table-container popup-table">
                    <thead>
                        <tr>
                            {{#each store.columns}}
                                <th class="custom-column" data-value="{{this}}">{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>

                    <tbody>
                        {{#each store.inventory}}
                            <tr data-id="{{this.[0]}}">
                                {{tableHandler this.[1] ../store.columns}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="received-step">
            <div id="received-scroll-wrapper">
                <div class="header-wrapper">
                    <h4>RECEIVED</h4>
                    <button id="exit-button">
                        <div><i class="far fa-times-circle"></i></div>
                        <div>esc</div>
                    </button>
                </div>

                <p>How many was received?</p>
                <p class="error"></p>
                <table id="inventory-table" class="table-container popup-table">
                    <thead>
                        <tr>
                            {{#each store.columns}}
                                <th class="custom-column" data-value="{{this}}">{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody id="received-tbody">

                    </tbody>
                </table>

                <div id="received-form">
                    <label for="received-input">Quantity</label>
                    <input type="number" id="received-input" min="1" class="operation-text-input" />
                    <label>Memo</label>
                    <textarea id="details-input" class="operation-textarea-input"></textarea>
                </div>
            </div>

            <div id="submit-wrapper">
                <button class="prev-step" id="no-submit" data-step="received-step">Back</button>
                <button id="received-submit">Submit</button>
            </div>
        </div>
    </div>
</div>